name: NPM Publish

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    uses: detailobsessed/ci-components/.github/workflows/npm-publish-bun.yml@main
